<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "net.nalo-corporation.ievparoles"
	version   = "0.3.0">
<name>IEV Paroles</name>
<description>Paroles des chants du répertoire Il est vivant !</description>
<author>Emmanuel Turbet-Delof</author>
<icon src="img/logo.png"/>
<icon src="img/logo.png" gap:platform="winphone" gap:role="background"/>
<gap:platform name="android"/>
<gap:platform name="winphone"/>
<preference name="fullscreen" value="true"/>
<plugin name="org.apache.cordova.file" spec="1.3.3" source="pgb" />
</widget>
